form {
    & fieldset {
        border: none;
        
        & legend {
            font-size: var(--fs-legend);
            font-weight: var(--fw-bold);
            margin-bottom: 2.75rem;
        }

        & ul {
            flex-direction: column;
            margin-top: 2.5rem;
            gap: .75rem;
            & li {
                width: 100%;

                & > div {
                    padding-inline: .75rem;
                    justify-content: space-between;
                    height: 3.0625rem;

                    & div {
                        gap: .75rem;
                    }
                }

                & span {
                    cursor: pointer;
                }
            }
        }
    }

    & .alert {
        margin-top: 2.25rem;
        justify-content: space-between;
        background-color: var(--color-danger);
        padding: .75rem;
        transition: opacity 200ms;
        
        & div {
            gap: .5rem;
            
            & p{
                color: var(--always-white);
            }
        }

        & img {
            cursor: pointer;
        }
    }
}

@media (width < 43em) {
    form {
        & #input-wrapper{
            flex-direction: column;
        }
    }
}